@font-face {
    font-family: "flaticon_tg_default";
    src: url("../fonts/AnM2KdWABxsX.ttf") format("truetype"),
url("../fonts/jjuynpsCd5oS.woff") format("woff"),
url("../fonts/3d4j8JcfRce8.woff2") format("woff2"),
url("../fonts/72rrOQCMTtmk.eot#iefix") format("embedded-opentype"),
url("../images/BIhT03YXk19K.svg#flaticon_tg_default") format("svg");
}

i[class^="tg-flaticon-"]:before, i[class*=" tg-flaticon-"]:before {
    font-family: flaticon_tg_default !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class*="tg-flaticon-"] {
    display: block;
    line-height: 0;
}

.tg-flaticon-menu:before {
    content: "\f101";
}
.tg-flaticon-menu-1:before {
    content: "\f102";
}
.tg-flaticon-dots-menu:before {
    content: "\f103";
}
.tg-flaticon-menu-2:before {
    content: "\f104";
}
.tg-flaticon-close:before {
    content: "\f105";
}
.tg-flaticon-close-1:before {
    content: "\f106";
}
.tg-flaticon-arrowhead-up:before {
    content: "\f107";
}
.tg-flaticon-arrow-up:before {
    content: "\f108";
}
.tg-flaticon-plus:before {
    content: "\f109";
}
.tg-flaticon-minus-sign:before {
    content: "\f10a";
}
